* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
.general-section{
    grid-area: general-section;
}
.h2-news{
    grid-area: h2;
    font-size: 34px;
    margin: 15px 0;
    font-weight: normal;
    color: #999999;
}
.news-section{
    grid-area: news-section;
}
body{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 185px 1fr;
    grid-template-areas:
                        'header nav'
                        'general-section general-section'
                        'h2 h2'
                        'news-section news-section';
}
.header{
    display: grid;
    grid-template-columns: 95px 75px;
}
h1{
    margin: 0;
    margin-top: -4px;
    font-size: 54px;
    font-weight: 400;
    color: #97d04d;
    text-transform: uppercase;
}
.header div{
    margin-top: 5px;
    font-size: 35px;
    color: #cbcbcb;
}
#btn{
    width: 110px;
    height: 35px;
    background: #97d04d;
    color: white;
    font-size: 15px;
    border: 0;
}
#btn:hover{
    width: 110px;
    height: 35px;
    background: white;
    color: black;
    border: 2px solid #97d04d;
    font-size: 15px;
}
.button{
    display: none;
}



.navigation a{
    display: block;
    background: #97d04d;
    height: 35px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 9px;
    margin-top: 8px;
}
.navigation a:hover{
    background: white;
    padding-top: 7px;
    color: black;
    border: 2px solid #97d04d;
}
.navigation {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(95px, 95px));
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}



.general-news{
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(475px, 475px));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.general-img{
    width: 460px;
}
.general-img img{
    width: 100%;
}
.general-description h2{
    margin: 0;
    font-size: 40px;
    font-weight: normal;
}
.general-description a{
    text-decoration: none;
    color: #999999;
}
.general-description p{
    color: #959595;
    font-size: 17px;
    line-height: 25px;
}



.news{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(240px, 240px));
    grid-row-gap: 20px;
}
.news h3{
    margin: 10px 0 0;
    color: #707070;
    font-weight: normal;
    width: 220px;
    font-size: 18px;
}
.news a{
    color: black;
}
.news a:hover{
    text-decoration: underline;
    color: darkblue;
}
.news p{
    color: #959595;
    margin: 10px 0;
    line-height: 20px;
    font-size: 15px;
    width: 220px;
}
.addText{
    display: none;
}
.readMore{
    display: inline;
}
.active{
    display: block;
}
.activeText{
    display: inline;
}


@media (max-width: 850px) {
    body{
        margin: 0 auto;
        max-width: 500px;
        }
}



@media (max-width: 550px) {
    body{
        margin: 0 auto;
        max-width: 300px;
        display: grid;
        grid-template-columns: 185px 1fr;
        grid-template-areas:
                        'header header'
                        'nav nav'
                        'general-section general-section'
                        'h2 h2'
                        'news-section news-section';
        }
    .header{
        grid-template-columns: 95px 95px 95px;
    }
    .general-img{
        width: 290px;
    }
    .general-img img{
        width: 100%;
    }
    .general-description h2{
        width: 290px;
    }
    .general-description p{
        width: 290px;
    }
    .navigation {
        grid-template-columns: repeat( auto-fill, minmax(95px, 300px));
    }
    .general-news{
        grid-template-columns: repeat( auto-fill, minmax(300px, 300px));
    }
    .button{
        display: block;
    }
    nav{
        display: none;
    }
}